@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.size {
    width: 120px;
    height: 50px;
}

.background{
    background: rgba(119, 108, 108, 0.925);
    filter: brightness(80%);
}
.imges { 
    height: 600px;
    max-height: 100vh;
}
.captions{
    bottom: auto;
    top: 30%;
    position: absolute;
}

.bg-color {
    background-color: #F4FAFD;
}

.height {
    height: 600px;
}

.gaps {
    padding-right: 10%;
}

.font-s {
    font-size: 14px;
}

.company{
    padding-left: 6%;
    
}

.company img {
    width: 95px;
}
.sizes{
    width: 130px;
    height: 60px; 
}
.foot {
    color: #E8E8E8;
    font-size: 14px;
}

.social-icons{
    padding-right: 3%;
}